<?xml version="1.0"?>
<robot name="color" xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0" />
  </material>
  <material name="green">
    <color rgba="0.0 1.0 0.0 1.0" />
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0" />
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0" />
  </material>
</robot>
